
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategoriler</h2>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kategori Adı </th>
                    <th>İşlemler </th>
             
                </tr>
            </thead>
            
            <tbody>
                 
                <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>                   
                    <td>Customer Support</td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>